body {
	text-align: left;
	width: 100%;
}

h1 {
	font-family: Georgia, sans-serif;
	font-size: 32px;

.introduction {
	 color: red;
     font-size: 2rem;
     color: rgb(0,0,0);
}

#proof {
	font-family: 'Arial', Helvetica, sans-serif;
	color: rgb(128,0,128);
}

h2 {
	font-weight: bold;
}


p {
	font-size: 1rem;
}


.my-container {
	padding: 10px;
	border: 1px solid blue;
	font-weight: bold;
}

